.wrapper {
  display: flex;
  margin-bottom: 10px;
  font-weight: bold;
}

.turn {
  padding: 10px;
  color: white;
  opacity: 0.5;
}

.tom {
  background-color: green;
}

.wolf {
  background-color: red;
}

.selected {
  opacity: 1;;
}