.box {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-weight: bold;
  color: grey;
}

.blocked--up {
  border-top: 1px solid black;
}

.blocked--down {
  border-bottom: 1px solid black;
}

.blocked--left {
  border-left: 1px solid black;
}

.blocked--right {
  border-right: 1px solid black;
}

.tom {
  background-color: green;
}

.wolf {
  background-color: red;
}